<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-10">
            <h1>Hi {{currentUser.firstName}}!</h1>
            <p>You're logged in with Angular 8!!</p>
            <h3>All registered users:</h3>
            <ul>
                <li *ngFor="let user of userList">
                    {{user.username}} ({{user.firstName}} {{user.lastName}})
                    - <a (click)="deleteUser(user.username)" class="text-danger">Delete</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-2">
            <a routerLink="/register" class="btn btn-link">Add User</a>
        </div>
    </div>
</div>

