<div class="col-xs-12">
    <form [formGroup] ="searchGroup" (ngSubmit)='onSubmit()'>
        <div class="form-group">
            <input class="form-control" formControlName='sentiment-key' type="text" placeholder="Search" >
        </div>
        <div class="form-group">
            <button   class="btn btn-primary"  type="submit"> Submit the keyword for Sentiment data</button>
            <button   class="btn btn-danger"   type="button" (click)="onCancel()"> Cancel</button>
        </div>
    </form>
</div>
<hr>

